header {
  background-color: var(--tertiary-bg);
  padding: 0.5rem;
}

header,
#block-stark-sub-branding,
#block-stark-sub-account-menu,
#block-stark-sub-main-menu,
#block-mainnavigation {
  border-radius: 5px;
}

.site-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.site-slogan {
  font-size: 1.5rem;
  font-style: italic;
}

#block-stark-sub-branding {
  background: rgb(137, 132, 219);
  background: linear-gradient(90deg, rgba(137, 132, 219, 1) 0%, rgba(153, 193, 205, 1) 9%, rgba(0, 212, 255, 1) 100%);
  padding: 0.25rem;
}

#block-stark-sub-account-menu {
  max-width: 190px;
  padding: 0.25rem;
  text-align: center;
}

#block-stark-sub-main-menu,
#block-mainnavigation {
  background-color: var(--secondary-bg);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}

#block-stark-sub-main-menu>ul>li:nth-child(1)>a,
#block-mainnavigation>ul>li:nth-child(1)>a {
  margin-left: 1rem;
}
