@import url('form.css');
@import url('footer.css');
@import url('header.css');
@import url('media.css');
@import url('nav.css');
@import url('search.css');
@import url('table.css');
@import url('variables.css');
@import url('view-pages.css');
@import url('view-slideshows.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border-radius: 5px;
  max-width: 1600px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

article>div.node__content>div>div:nth-child(1) {
  font-weight: bold;
}

button,
.button {
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

button:hover,
.button:hover {
  font-weight: bold;
  opacity: 0.7;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  opacity: 0.9;
}

footer {
  background-color: var(--primary-bg);
  border-radius: 5px;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

h1,
h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

img {
  padding: 0.5rem;
}

input {
  padding: 0.25rem;
}

input:hover {
  background-color: var(--input-hover-bg);
}

label {
  margin-right: 0.5rem;
}

p {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}


/* Classes */

.layout-container {
  padding: 1rem;
}

.node__submitted {
  padding-top: 0.5rem;
}

/* Ids */

#block-stark-sub-account-menu>ul {
  margin-bottom: 0px;
}
