:root {
  --box-shadow: hsl(0, 0%, 24%);
  --input-hover-bg: hsl(0, 0%, 83%);
  --primary-bg: hsl(195, 56%, 74%);
  --secondary-bg: hsl(300, 22%, 70%);
  --tertiary-bg: hsl(121, 29%, 68%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  max-width: 1600px;
}

body,
button,
.button,
footer,
header,
#block-mainnavigation,
#block-stark-sub-account-menu,
#block-stark-sub-branding,
#block-stark-sub-content form,
#block-stark-sub-main-menu {
  border-radius: 5px;
}

article>div.node__content>div>div:nth-child(1) {
  font-weight: bold;
}

button,
.button {
  box-shadow: 2px 2px var(--box-shadow);
  cursor: pointer;
  font-size: 1.1rem;
  margin: 5px;
  padding: 5px;
}

button:hover,
.button:hover {
  font-weight: bold;
  opacity: 0.7;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  opacity: 0.8;
}

h1,
h2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

img {
  padding: 0.5rem;
}

input {
  padding: 0.25rem;
}

input:hover {
  background-color: var(--input-hover-bg);
}

label {
  margin-right: 0.5rem;
}


p {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}

/* Footer */
footer {
  background-color: var(--primary-bg);
  border: 1px solid;
  box-shadow: 2px 2px var(--box-shadow);
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  padding: 3px;
  text-align: center;
}

/* Form */
form {
  padding: 0.5rem;
}

form .description,
.form-item {
  margin: 5px 0;
}

#block-stark-sub-content form {
  border: 1px solid;
  box-shadow: 2px 2px var(--box-shadow);
}

/* Header */
header {
  background-color: var(--tertiary-bg);
  box-shadow: 2px 2px var(--box-shadow);
  padding: 0.5rem;
}

.site-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.site-slogan {
  font-size: 1.5rem;
  font-style: italic;
}

#block-stark-sub-branding {
  background: rgb(137, 132, 219);
  background: linear-gradient(90deg, rgba(137, 132, 219, 1) 0%, rgba(153, 193, 205, 1) 9%, rgba(0, 212, 255, 1) 100%);
  padding: 0.25rem;
}

#block-stark-sub-account-menu {
  max-width: 190px;
  padding: 0.25rem;
}

#block-stark-sub-main-menu,
#block-mainnavigation {
  background-color: var(--secondary-bg);
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  padding: 0.25rem;
}

#block-stark-sub-main-menu>ul>li:nth-child(1)>a,
#block-mainnavigation>ul>li:nth-child(1)>a {
  margin-left: 1rem;
}


/* Nav */
#block-stark-sub-main-menu>ul,
#block-mainnavigation>ul {
  margin: 1rem 0;
  text-align: center;
}

#block-stark-sub-main-menu>ul>li,
#block-stark-sub-account-menu>ul>li,
#block-mainnavigation>ul>li {
  display: inline;
  margin-right: 1rem;
}


/* Tables */
table {
  margin: 5px 10px;
}

table,
td,
thead,
th {
  border: 1px solid;
  padding: 5px;
}

td {
  text-align: center
}


/* View Pages */
.flavour_space {
  margin-top: 0.75rem;
}

.views-field-field-article-text {
  margin: 0.25rem;
}


/* View Slideshow */
.flexslider .slides img {
  max-width: 500px;
}


/* Classes */
.layout-container {
  padding: 1rem;
}

.node__submitted {
  padding-top: 0.5rem;
}


/* Ids */
#block-stark-sub-account-menu>ul {
  margin-bottom: 0px;
}


/* Media Queries */
@media(max-width: 960px) {}

@media(max-width:768px) {
  body {
    border: 2px solid;
  }

  #block-mainnavigation>ul>li,
  #block-stark-sub-account-menu>ul>li,
  #block-stark-sub-main-menu>ul>li {
    display: block;
    margin-right: 0;
  }
}

@media(min-width: 1440px) {}
